.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #FAF8FC;
    padding: 10px;
    padding-left: 1rem;
    width: 100%;
    border-bottom: 2px solid #FAF8FC;
  }

.list{
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
    
}

.list a {
    text-decoration: none;
    color: grey;
}

.list a:hover,
.list a.active {
    text-decoration: underline;
    color: #0C50AF;
    text-underline-offset: 1em;
}

.active {
    text-decoration: underline;
    color: green;
}
